DOMAIN_NAME=mahkilic.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=chief
WP_ADMIN_EMAIL=chief@example.com
WP_USER=editor
WP_USER_EMAIL=editor@example.com
